/* Add mobile styles for the component here.  */

.draggable {
    height: 100;
    width: 100;
    border-radius: 50;
    background-color: deeppink;
    text-align: center;
}

.btn {
    height: 100;
    width: 100;
    border-radius: 50;
    background-color: deeppink;
    text-align: center;
}