<ActionBar title="Soccer Players">
</ActionBar>
<GridLayout>
    <StackLayout col="0" row="0">
        <!-- <button text="add member" (tap)="onTap($event)" class="-outline -rounded-lg"></button> -->
        <!-- <ListView [items]="items">
            <ng-template let-item="item">
                <StackLayout>
                    <Label [nsRouterLink]="['/item', item.id]" [text]="item.name"></Label>
                </StackLayout>
            </ng-template>
        </ListView> -->
        <ns-items [items]="items"></ns-items>
    </StackLayout>
</GridLayout>