<GridLayout columns="*, *, *,*" rows="50, *, *,50">

    <Label text="navy" row="0" col="0" colSpan="3" backgroundColor="navy"></Label>
    <Label text="yellow" row="1" col="0" backgroundColor="yellow"></Label>
    <Label text="red" row="2" col="0" backgroundColor="red"></Label>
    <Label text="red" row="3" col="0" backgroundColor="pink"></Label>
    <label text="navy" row="3" col="1" backgroundColor="navy"></label>
    <label text="green" row="0" rowSpan="4" col="3" backgroundColor="green"></label>
    <label text="yellow" row="3" col="2" backgroundColor="yellow"></label>
    <label text="purple" row="1" col="1" colSpan="2" rowSpan="2" class="text-center" verticalAlignment="center" backgroundColor="purple"></label>